#header {
    box-sizing: border-box;
    background-color: rgba(205,205,205);
    height: 100%;
    width: 100%;
    position: relative;
}

#logo {
    float: left;
    padding-right: 15px;
    height: 100%;
}

.links {
    height: 100%;

    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
    box-sizing: border-box;
    height: 100%;
    width: 10em;
    float: left;
    text-align: center;
}

.links li:hover {
    background-color: white;
}

.links a {
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;

    text-decoration: none;
    color: black;
}

.links .active {
    background-color: white;
}
