<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="header" class="topnav">
    <img id="logo" src="assets/cloud_logo.png">    

    <div id="links">
        <a class="link" (click)="selectLink($event)" 
            [ngClass]="{ 'current-link': currentSelected === 'Create' }" 
            href="#panel-target">Create</a>
        <a class="link" (click)="selectLink($event)"
        [ngClass]="{ 'current-link': currentSelected === 'FAQ' }"         
        href="#faq-target">FAQ</a>
        <a class="link" (click)="selectLink($event)"
        [ngClass]="{ 'current-link': currentSelected === 'How To' }"                 
        href="#howto-target">How To</a>
        <a class="link" (click)="selectLink($event)"
        [ngClass]="{ 'current-link': currentSelected === 'Team' }"                 
        href="#team-target">Team</a>
    </div>
</div>
