<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="header" class="topnav">
    <img id="logo" src="assets/cloud_logo.png">

    <ul id="links">
        <li class="link"><a href="#panel-target">Create</a></li>
        <li class="link"><a href="#faq-target">FAQ</a></li>
        <li class="link"><a href="#howto-target">How To</a></li>
        <li class="link"><a href="#team-target">Team</a></li>
        <li class="icon">
            <a href="javascript:void(0);" (click)="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
</div>
