<hr>
<h1 id="team-heading">Meet The Team 💪💯</h1>
<div class="photos-container">
    <div class="pic-container">
        <img class="profile-pic" src="assets/logan.jpg">
        <p class="pic-caption">Logan Fry</p>
        <p class="pic-sub-caption">Frontend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/vlad.jpg">
        <p class="pic-caption">Vlad Mirea</p>
        <p class="pic-sub-caption">Frontend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/joe.jpg">
        <p class="pic-caption">Joe Segel</p>
        <p class="pic-sub-caption">Project Manager</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/griffin.jpg">
        <p class="pic-caption">Griffin Saiia</p>
        <p class="pic-sub-caption">Backend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/dhanush.jpg">
        <p class="pic-caption">Dhanush Venkatesh</p>
        <p class="pic-sub-caption">Backend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/robbie.jpg">
        <p class="pic-caption">Robbie Barnes</p>
        <p class="pic-sub-caption">Backend Developer</p>
    </div>
</div>