#team-heading {
    text-align: center;
}

.photos-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.pic-container {
    max-width: 150px;
}

.profile-pic {
    height: 200px;
}

.pic-caption {
    text-align: center;
    font-weight: 700;
    margin-block-end: 0em;
}

.pic-sub-caption {
    margin-block-start: 0.25em;
    text-align: center;
    font-weight: 300;
}

.anchor {
    position: relative;
}

.anchor a {
    position: absolute;
    left: 0;
    top: -70px;
}
