<hr>
<h1 id="team-heading">Meet The Team 💪💯</h1>
<div class="photos-container">
    <div class="pic-container">
        <img class="profile-pic" src="assets/logan.jpeg">
        <p class="pic-caption">Logan Fry</p>
        <p class="pic-sub-caption">Frontend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/profile.jpeg">
        <p class="pic-caption">Vlad Mirea</p>
        <p class="pic-sub-caption">Frontend Developer</p>
    </div>
    <div class="pic-container">
            <img class="profile-pic" src="assets/profile.jpeg">
            <p class="pic-caption">Joe Segel</p>
            <p class="pic-sub-caption">Project Manager</p>
        </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/profile.jpeg">
        <p class="pic-caption">Dhanush (last)</p>
        <p class="pic-sub-caption">Backend Developer</p>
    </div>
    <div class="pic-container">
        <img class="profile-pic" src="assets/profile.jpeg">
        <p class="pic-caption">Robbie (last)</p>
        <p class="pic-sub-caption">Backend Developer</p>
    </div>
</div>