.main-container {
    position: absolute;
    top: 70px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    width: 100%;
}

.main-container-item {
    grid-column-start: 2;
    grid-column-end: 3;
}

.filler {
    height: 1000px;
}

.title-container {
    margin: 20px auto 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    margin-bottom: 0px;
    font-weight: 500;
}

.subtitle {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 200;
    width: 100px;
}

.logo {
    height: 150px;
}

.destroy-container {
    grid-column: 2;
    width: 300px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow:  0 0 3px 5px #bcc0c4;
    padding: 10px;
}

#destroy-btn {
    display: block;
    margin: auto;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-decoration: none;
    //background: rgb(154,52,250);
    background-image: linear-gradient(to right, rgba(51,255,203,1) 0%, rgba(154,52,250,1) 42%, rgba(51,255,203,1) 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    //font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover,&:focus {
        background-position: right center;
    }

    &:active {
        transform: scale(0.99);
    }
}

#id-input {
    margin: 0 0 5px 5px;
}
