<div class="info-container">
    <div id="faq" class="info-block anchor">
        <a class="anchor-target" name="faq-target">&nbsp;</a>
        <h1 class="section-header">FAQ</h1>
        <p>
            <strong>Q: What is an "instance"?</strong>
            <br>
            A: An instance is a virtual server running on either a public or private 
            cloud network. Instances provide places for application code to live in the cloud, and enable
            applications to easily scale up and down with traffic by creating and destroying instances on the fly.
        </p>
        <p>
            <strong>Q: What are some use cases for this tool?</strong>
            <br>
            A: There are many ways CloudMaker could be used in the future. Application developers could use CloudMaker
            to quickly create environments for demoing prototype applications. QA/Testers could use CloudMaker to rapidly
            generate many instances and run automated tests on them, reducing testing time. 
        </p>
        <p>
            <strong>Q: What kinds of instances are created by this tool?</strong>
            <br>
            A: Currently, CloudMaker only creates <a href="https://aws.amazon.com/">AWS</a> (Amazon Web Services) EC2
            t2.micro instances. Each of these instances comes with 1 virtual CPU and 1GiB of memory included. You can read more
            about EC2 instances <a href="https://aws.amazon.com/ec2/">here</a>. CloudMaker could easily be updated in the future
            to create more types of instances and allow more detailed configuration of the instances.
        </p>
    </div>
    <img id="faq-pic" class="info-pic" src="assets/faq_new.png">
    <div id="how-to" class="info-block anchor">
        <a class="anchor-target" name="howto-target">&nbsp;</a>
        <h1 class="section-header">How to Use CloudMaker 🤔</h1>
            <ol>
                <li>Enter your Progressive AID in the form above.</li>
                <li>Enter your Progressive email, this is used to send you detailed information
                    about your cloud instance once it is created.
                </li>
                <li>Enter a nickname for your instance. This can be anything you want as long as there are no spaces
                    and all characters used are either letters, numbers, dashes or underscores.
                </li>
                <li>Click the Create Instance button, and your new cloud instance will be created automatically!</li>
            </ol>
    </div>
    <img id="how-to-pic" class="info-pic" src="assets/wrench.jpg">
</div>
