app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 500;
}

.main-container {
    position: absolute;
    top: 70px;
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.main-container-item {
    grid-column-start: 2;
    grid-column-end: 3;
}

.filler {
    height: 1000px;
}

.title-container {
    text-align: center;
}

.title {
    margin-bottom: 0px;
    font-weight: 500;
}

.subtitle {
    margin-block-start: 0em;
    font-weight: 200;
}

.logo {
    height: 200px;
    margin-top: 20px;
}
