.btn-container {
    padding: 20px 0px;
    text-align: center;
}

.creation-btn {
    display: block;
    margin: auto;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-decoration: none;
    background: rgb(154,52,250);
    background-image: linear-gradient(to right, rgba(51,255,203,1) 0%, rgba(154,52,250,1) 42%, rgba(51,255,203,1) 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover,&:focus {
        background-position: right center;
    }

    &:active {
        transform: scale(0.99);
    }
}

.error {
    color: darkred;
}