<div class="anchor">
    <a name="panel-target">&nbsp;</a>
  </div>
<div id="resource-panel">
    <form #instanceForm="ngForm" id="instance-form">
        <span class="label">AID:</span>
        <input type="text" required name="aid" [(ngModel)]="aid" #idInput="ngModel">  <br>
        <div class="validation-container" *ngIf="idInput.invalid && (idInput.dirty || idInput.touched)">
            <span class="validation">AID is required</span>
        </div>
        <span class="label">Email:</span>
        <input type="text" required name="email" [(ngModel)]="email" #emailInput="ngModel"> <br>
        <div class="validation-container" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <span class="validation">Email is required</span>
        </div>
        <span class="label">Instance name:</span>
        <input type="text" required pattern="^[a-zA-Z0-9_-]*$" name="name" [(ngModel)]="instanceName" #nameInput="ngModel">
        <div class="validation-container" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
            <span *ngIf="nameInput.errors.required" class="validation">Instance name is required</span>
            <ul *ngIf="nameInput.errors.pattern" class="validation">Instance name can only contain the following character groups:
                <li>Uppercase or lowercase letters</li>
                <li>Numbers</li>
                <li>Dashes or underscores</li>
            </ul>
        </div>
    </form>
    <app-creation-button
    [enabled]="instanceForm.valid"
    [id]="aid" [email]="email" [instanceName]="instanceName"
    (formSubmitted)="showValidatingMessage()"
    (requestSuccessful)="showCreatingMessage()">
    </app-creation-button>
</div>
<div id="panel-creating">
    <!-- <p id="creating-message">
        Creating instance {{instanceName}}...
    </p>
    <p>An email with further details will be sent to {{email}} when your instance is ready!</p>
    <button class="reset-button" (click)="returnToForm()">Create another instance</button> -->
    <p id="panel-message"></p>
</div>
